<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Report.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Report.Properties.Settings.huynhhuu_foodConnectionString"
            connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=huynhhuu_food;User ID=huynhhuu_food;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Report.Properties.Settings>
            <setting name="Report_somee_FoodService" serializeAs="String">
                <value>http://thanhhuy101.somee.com/FoodService.asmx</value>
            </setting>
        </Report.Properties.Settings>
    </applicationSettings>
</configuration>